<?php

$conf = [
    'server'  => [
        // Account name to be used for deployment. e.g. deployer
        'user'   => 'username',

         // Leave it as it is
        'group'  => 'www-data',

         // e.g. xxx.xxx.xxx.xxx, example.com, local.dev
        'host'   => 'my_host_name',

        // e.g. xxx.xxx.xxx.xxx, www.example.com, test.local.dev
        'domain' => 'my_domain_name',
    ],
    'path'    => [
        // Replace username. e.g. deployer
        'home'    => '/home/username',

        'web'     => '/home/username/www',

        // Document root of the web server
        'base'    => '/home/username/www/my_domain_name',

        // Shared directory, that should be symlinked under the document root
        // Having multiple shared dirs? add more and edit the envoy.blade.php
        'shared'  => '/home/username/www/shared',

        // Housing that will hold releases
        'release' => '/home/username/www/releases',
    ],
    'release' => [
        // Leave it as it is
        'name' => 'release_' . date('YmdHis'),
    ],
    'git'     => [
        // e.g. git@github.com:account/project.git
        'repo'  => 'your_github_repository_path',
    ],
];

/* DO NOT TOUCH BELOW, UNLESS YOU KNOW WHAT YOU ARE DOING */

$GLOBALS['config'] = dot($conf);

/**
 * Flatten the given array using dot(.).
 *
 * @param array $array
 * @param string $prepend
 * @return array
 */
function dot($array, $prepend = '')
{
    $results = [];

    foreach ($array as $key => $value) {
        if (is_array($value)) {
            $results = array_merge($results, dot($value, $prepend . $key . '.'));
        } else {
            $results[$prepend . $key] = $value;
        }
    }

    return $results;
}

/**
 * Find the array value matching the given key.
 *
 * @param $key
 * @return mixed
 */
function config($key)
{
    return $GLOBALS['config'][$key];
}